html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map_canvas {
	height: 100%
}

.rounded-img {
	display: inline-block;
	border: solid 1px #000;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.triangle {
	position: absolute;
	left: 48px;
	top: 102px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 10px 0 10px;
	border-color: #072442 transparent transparent transparent;
}

.image-marker {
	position: relative;
}

#options {
	position: absolute;
	right: 60px;
	top: 50px;
	padding: 2px 5px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.image-popup {
	position: relative;
}

.image-title {
	position: absolute;
	bottom: 5px;
	background: black;
	color: #f7f8fa;
	padding: 6px;
}

.image-title a, a:visited {
	color: #f7f8fa;
	text-decoration:none;
}

.image-title a:hover, a:active {
	color: #2EB0DB;
}